body {
	margin: 0; 
  /*overflow-y: hidden;*/
  background: url('https://i.imgur.com/0m4RNzo.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu {
	width: 100%;
	font-size: 2em;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.menu,
.menu a,
h1,
h2 {
	font-family: 'Fjalla One', sans-serif;
}

p,
a {
	font-family: 'Noto Sans', sans-serif;
}

.menu div {
	background-color: #B4E081;
	width: 25%; 
}

.menu a {
	text-decoration: none;
}

.menu div:hover {
	background-color: #577539;
	color: white;
}

.active {
	background-color: #577539 !important;	
	color: white !important;
}

.bio {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 91%;
}

.profile-pic {
	margin-right: 20px;
	margin-top: 20px;
}

.bio-body {
	margin-left: 20px;
	margin-right: auto;
	margin-top: 10%;
	border-radius: 14px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
}

.bio-body p {
	font-size: 1.75em;
	line-height: 50px;
}

.projects,
.contact {
	display: none;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
}

.projects-container .project {
	width: 48%;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 14px;
	margin: 10px;
}

.project img {
	margin-bottom: 10px;
}

.project-links {
	display: flex;
	width: 50%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.project-links a {
	text-decoration: none;
}

.proj-link {
	width: 50%;
	padding: 10px;
	font-size: 1.5em;
}

.proj-link:hover {
	background-color: #B4E081;
}

.project-icon {
	width: 50px;
	margin-left: 20px;
}

.project-icon-js {
	width: 36px;
	margin-left: 20px;
}

.resume {
	display: none;
	text-align: center;
}

.resume h1 {
	color: white;
}

.view-resume {
	background-color: rgba(255, 255, 255, 0.8);
	width: 17%;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	border-radius: 8px;
}

.contact div,
.contact {
	text-align: center;
}

.contact-icons {
	display: flex;
	justify-content: space-around;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%; 	
}

@media (min-width: 320px) and (max-width: 767px) {
	.bio {
		flex-direction: column;
	}

	.profile-pic {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.bio-body {
		margin-left: 0;
		margin-right: 0;
	}

	.bio-body p {
		font-size: 1.25em;
		line-height: 30px;
	}

	.projects-container .project {
		width: 95%;
	}

	.mockup {
		width: 100%;
	}

	.view-resume {
		width: 55%;
	}

	.contact-icons {
		width: 100%;
	}

	.contact-icons img {
		width: 80%;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	/*.profile-pic {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}*/

	.bio-body {
		margin-top: 4%;
	}

	.projects-container {
		margin-top: 10px;
	}

	.projects-container .project {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.view-resume {
		width: 25%;
	}
}