body {
	margin: 0; 
}

.nav-link {
	font-size: 1.5em;
}

.active {
	color: black;
}

.bio {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 91%;
}

.profile-pic {
	margin-right: 20px;
	margin-top: 20px;
}

.bio-body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	border-radius: 14px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
	width: 76%;
}

.bio-body-1 {
	display: flex;
}

.bio-body img {
	align-self: center;
	width: 25%;
}

.bio-body p {
	font-size: 1.15em;
	line-height: 37px;
	align-self: center;
	margin-right: 3%;
    text-align: justify;
}

.bio-body-2 {
	display: flex;
}

.bio-body-2 .icare {
	width: 16%;
	margin-left: 4%;
}

.bio-para-2 {
	margin-left: 5%;
}

.bio-body-3 {
	display: flex;
}

.bio-body-3 .android {
	width: 20%;
	margin-left: 2%;
}

.bio-para-3 {
	margin-left: 3%;
}

.projects,
.contact {
	display: none;
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
}

.projects-container .project {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 14px;
	margin: 10px;
}

.project-3 .mockup {
	margin-top: 9%;
}

.project-3 .btn {
	margin-top: 8%;
}

.project img {
	margin-bottom: 10px;
}

.mockup {
	width: 100%;
}

.proj-link {
	width: 50%;
	padding: 10px;
	font-size: 1.5em;
}

.proj-link:hover {
	background-color: #B4E081;
}

.project-icon {
	width: 50px;
	margin-left: 20px;
}

.project-icon-js {
	width: 36px;
	margin-left: 20px;
}

.resume {
	display: none;
	text-align: center;
}

.resume h1 {
	color: white;
}

.view-resume {
	background-color: rgba(255, 255, 255, 0.8);
	width: 17%;
	margin-left: auto;
	margin-right: auto;
	padding: 1px;
	border-radius: 8px;
}

.contact div,
.contact {
	text-align: center;
}

.contact-icons {
	display: flex;
	justify-content: space-around;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%; 	
}

.contact i {
	font-size: 5em;
}

@media (min-width: 320px) and (max-width: 767px) {
	.card {
		display: none !important;
	}
	
	.bio {
		margin-top: 10%;
		flex-direction: column;
	}

	.bio h1 {
		font-size: 2em;
	}

	.profile-pic {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.bio-body {
		margin-left: 0;
		margin-right: 0;
	}

	.bio-body-1,
	.bio-body-2,
	.bio-body-3 {
		flex-direction: column;
	}

	.bio-body-1 img,
	.bio-body-2 img,
	.bio-body-3 img {
		width: 60% !important;
	}

	.bio-body .icare,
	.bio-body .android {
		margin-top: 25%;
	}

	.bio-body p {
		font-size: 1em;
		line-height: 30px;
	}

	.projects {
		margin-top: 10%;
	}

	.projects-container .project {
		width: 95%;
	}

	.mockup {
		width: 100%;
	}

	.view-resume {
		width: 55%;
	}

	.contact-icons {
		width: 100%;
	}

	.contact-icons img {
		width: 80%;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	/*.profile-pic {
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}*/

	.bio-body {
		margin-top: 4%;
	}

	.bio-body-1,
	.bio-body-2,
	.bio-body-3 {
		flex-direction: column;
	}

	.bio-body p {
		font-size: 1.55em;
	}

	.bio-body img {
		width: 31% !important;
	}

	.bio-body .icare,
	.bio-body .android {
		margin-top: 12%;
	}

	.projects-container {
		margin-top: 10px;
	}

	.projects-container .project {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.view-resume {
		width: 25%;
	}
}