body {
  overflow-x: hidden;
  margin: 0px;
}

p {
  font-family: "Slabo", sans-serif;
  font-size: 1.5em;
}

h1,
h2 {
  font-family: "Roboto Slab", sans-serif !important;
  text-align: center;
  color: white;
}

p a {
  color: #009688;
}

.logo {
  width: 50%;
}

.nav {
  text-align: right;
  background-color: rgba(240, 240, 240, 0.9);
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 1;
  font-family: "Roboto Slab", sans-serif !important;
  margin-top: 0% !important;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #003f8f;
  text-decoration: underline;
}

.nav a:hover {
  color: #003f8f;
}

.nav-left {
  float: left;
}

.nav-left img {
  width: 60%;
  margin-bottom: 2%;
  margin-right: 40%;
}

.nav-right {
  float: right;
  width: 20%;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgba(28, 60, 109, 0);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(200, 200, 200, 1);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #003f8f;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown a:hover {
  color: #003f8f;
  text-decoration: none;
}

.nav a,
.nav a:active {
  color: black;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 0px;
  margin-right: 10px;
}

.nav ul .nav-text {
  margin-top: 10px;
}

.to-top {
  position: fixed;
  bottom: 50%;
  right: 0%;
  z-index: 10000;
}

.intro {
  margin-top: 0%;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/keyboard_key.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 400px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonials-container a:hover {
  color: white;
  text-decoration: none;
}

.logo {
  text-align: center;
  align-self: center;
  margin-left: 15%;
  width: 20%;
  background-color: #009688;
}

.head {
  color: white;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-top: 1%;
  background-color: #003f8f;
}

#code {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 20px;
  background-color: #003f8f;
}

.code-flex {
  width: 26%;
  margin-top: 20px;
}

.white-popup {
  display: flex;
  height: 450px;
  width: 100%;
}

.white-popup img {
  width: 50%;
}

.popup-link span {
  color: white;
}

.popup-div {
  width: 100%;
}

.mfp-close,
.popup-content,
.popup-head {
  color: white !important;
}

.popup-content,
.popup-link {
  margin-left: 5%;
}

.popup-link a {
  text-decoration: none;
}

.popup-link a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.projects img {
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.proj:hover .image {
  opacity: 0.75;
}

.proj:hover .middle {
  opacity: 1;
}

.text {
  background-color: #424242;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.text a,
.text a:hover {
  color: white;
}

#resume {
  color: black;
}

.clients {
  margin-left: auto;
  margin-right: auto;
}

.clients img {
  width: 50%;
}

.desc h2 {
  width: 100%;
  margin-top: 6%;
}

.desc {
  color: white;
}

.slides {
  color: white;
  background-color: #002868;
}

.slides p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.testimonials-container,
.bio-container {
  padding-bottom: 2%;
}

.testimonial-head,
.bio-head {
  padding-top: 2%;
}

.testimonial h2 {
  color: #e0e0e0;
}

.testimonial p {
  font-size: 1.25em;
}

.bio-container {
  color: white;
  background-color: #002868;
  padding-top: 5%;
}

.bio-flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bio-flex1 p {
  width: 80%;
}

.bio-flex1 img {
  margin-bottom: 2%;
}

/* Style the Image Used to Trigger the Modal */
#myImg,
#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover,
#myImg2:hover {
  opacity: 0.7;
}

#myImg,
#myImg2 {
  width: 6%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 20%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption1 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.x {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.x:hover,
.x:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.contact-details {
  text-align: center;
}

.resume-container {
  text-align: center;
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.resume-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5 ease;
  backface-visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}

.resume-download {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.resume-download a {
  text-decoration: none;
}

.resume-container:hover .resume-image {
  opacity: 0.3;
}

.resume-container:hover .resume-download {
  opacity: 1;
}

.download {
  background-color: #d0343d;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.testimonial-head {
  color: white;
}

.testimonials-container {
  color: white;
  background-color: #bf0a30;
}

#testimonials {
  text-align: center;
}

#testimonials img {
  width: 13%;
}

@media (min-width: 765px) {
  #mySidenav,
  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 764px) {
  .nav {
    display: none;
  }

  span img {
    position: fixed !important;
    z-index: 1;
    top: 0;
  }
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.9);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-family: "Roboto Slab", sans-serif !important;
  }

  /* The navigation menu links */
  .sidenav a,
  .sidenav img {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  .sidenav .nav-links:hover,
  .offcanvas a:focus,
  .scroll-code:hover,
  .scroll-wp:hover {
    color: #003f8f;
    text-decoration: none;
  }

  .non-nav:hover {
    text-decoration: none;
    color: black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .closebtn:hover {
    color: white;
  }

  .white-popup {
    flex-direction: column;
  }

  .white-popup img {
    width: 90%;
    margin-left: 2%;
  }

  .resume-container {
    width: 75%;
  }
}

@media (min-width: 320px) and (max-width: 541px) {
  .bio-flex1 p,
  .slides p {
    font-size: 1.1em;
  }

  .code-flex {
    width: 90%;
  }
}
